//color: #ABA281; //tan
//color: #1E3447; //med blue
//color: #112133; //drk blue
//color: #ABA281; //tan
//background-color: #511323; //red
//font-family: 'Open Sans', sans-serif;

//oranges
//#d48243
//#d99058
//#ba692a
//


body{
  font-weight: 400;
  padding:0;
  margin: 0;
  background-color: #511323; //red
}
.main{
  // height:100%;
  // display: block;
  // margin: 0;
  // padding: 0;
  // background-image:url(img/backgroundsmal.jpg);
  // width: 100%;
  // background-size: cover;
  background-color: #511323;
  // opacity: .9;
  h1{
    font-size: 84px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }
  h4{
    font-size: 34px;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }
}
.imgSection{
  text-align: center;
  margin: 0 auto;
}

// .sqimg:hover{
//   img{
//     display: none;
//   }
// }


.sqimg{
  padding-left: 1%;
  margin-top: 1%;
  //margin-bottom: 1%;
  width: 312px;
  background-color: #511323;
  display: inline-block;
  height: 312px;
  img{
    max-height: 255px;
    padding: 0;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 6%;
  }
}
.sq{
  vertical-align: top;
  padding-top: 5%;
  background-color: #511323;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  width: 40%;
  text-align: center;

  h3{
    margin: 0 auto;
    color: #ABA281;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important;
  }
}
.secondPage{
  background-color: #511323;
  opacity: .8;
  color: #ABA281;
}

footer{
  text-align: center;
  margin: 0 auto;
  padding-top:15px;
  padding-bottom: 25px;
  background-color: #511323;
  opacity: .8;
  color: #ABA281;

  h5{
    color: #ABA281;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
  }
}
div{
  padding: 0;
  margin: 0;
}
.header{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #511323;
}
.headerTwo{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #511323;
  background-color: #ABA281;
  opacity:.7;
}
.background{
  background-color: #511323;
  opacity: .9;
  width: 100%;
}
.second{
  background-image:url(img/backgroundplain.jpg);
  width: 100%;
  display: block;
  background-size: cover;
  //height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align:center;

  h2{
    margin: 0 auto;
    color: #ABA281;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Playfair Display', serif;

  }
  h3{
    color: #ABA281;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    width: 75%;
    padding-left:15%
  }
}
.mid{
  width: 100%;
}
.middle{

  h5{
    font-size: 16px;
    color: #ABA281;
    font-weight: 100;
  }
}
.last{
  background-image:url(img/backgroundplain.jpg);
  width: 100%;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;

  h5{
    color: #ABA281;;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 3px;
  }
}
a{
  text-decoration-style: none;
  text-decoration: none;
}
button{
  color: #511323;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-color: #ABA281;
  border: 0px;
  border-radius: 5%;
}
.buttonTwo{
  color: red !important;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-color: #ABA281;
  border: 0px;
  border-radius: 5%;
}
button:hover{
  color: #ABA281;
  border: #ABA281 2px solid;
  font-size: 28px;
  background-color: #511323;
}
section{
  display: inline-block;
  margin-top: 5%;
}
img{
  // max-height: 90px;
  display: block;
  margin: 0 auto;
  padding-top: 1.5%;
}
ul{
  vertical-align: top;
  text-decoration: none;
  list-style: none;
  font-family: 'Playfair Display', serif;
  color: #ABA281;
  padding: 5px;
  li{
    font-size: 24px;
  }
}

////////////////////////////////////////////////////////////

h1{
  font-size: 64px;
  padding: 0;
  margin: 0;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 34px;
  padding: 0;
  margin: 0;
}
h4{
  font-size: 24px;
  color:#511323;
}
h5{
  font-size: 18px;
  color:#511323;
}
.social{
  color: #511323;
  padding-left: 5px;
}
.consultant{
  width:60%;
  display:inline-block;
  text-align:left;
  padding-left: 5%;
  padding-top: 3%;
}

.headerPic{
  width: 100%;
  padding: 0;
  margin: 0;
}

.bg-img {
  width: 100%;
  height: 443px;
  background: url(cropped2.jpeg) center center no-repeat;
  background-size: cover;
  color:#511323;
  //color: #ABA281; //tan
  //color: #1E3447; //med blue
  //color: #112133; //drk blue
  //color: #ABA281; //tan
  //background-color: #511323; //red

  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#ABA281,#511323);
		opacity: .5;
  }

}
.newMain{
  .header img{
    max-height: 70px;
  }
  h1{
    color:#511323;
    font-size: 74px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }
  h4{
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }
}
.newMain2{
  padding: 1%;
  h1{
    color:#ABA281;
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }
  h4{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color:#ABA281;
  }
}
.about{
  color: #511323;
  font-family: 'Playfair Display', serif;
  padding: 3%;
}
.social2{
  color: #511323;
  text-decoration: none;
  font-size: 25px;
}
.social2 a{
  text-decoration: none;
  list-style: none;
}
.social2 a:hover{
  text-decoration: none;
  color:white;
}
////////////////////////////////////////////////////////////

@media (max-width:1000px) and (min-width:1px){
  .consultant{
    width:90%;
    display:block;
    text-align:center;
  }
  .chester{
    display: block;
  }
.sq{
  display: block;
  width: 90%;
}
.second{
  h3{
    font-size: 24px;
  }
}
.sqimg{
  height: 225px;
  width: 225px;
  img{
    max-height: 175px;
  }
}
.main{
  h1{
    font-size: 64px;
  }
  h3{
    font-size: 24px;
  }
}
img{
  display: block;
  text-align: center;
  margin:0 auto;
}



}
